<template>
	<div>
		<section class="containerPanel">
			<section class="dashboard elevation-2">
				<div class="titleCont my-3">
					<h4>Pagos por revisar</h4>
					<v-divider></v-divider>
				</div>
				<div class="actions ">
					<v-select
						class="filterButton mx-auto "
						append-icon="mdi-filter-outline"
						:items="filters"
						label="Filtrar"
						dense
						outlined
						color="secondary"
					></v-select>
					
				</div>
				<v-divider></v-divider>
				<UserList/>
			</section>
			<!-- panel principal -->
			<section  class="panel">
				<UsersSuscribers/>
			</section>

		</section>
	</div>
</template>


<script>
import UserList from './adminUser/UserList'
import UsersSuscribers from './adminUser/UsersSuscribers'

// import NewUser from './usersCreater/NewUser'
// import Axios from 'axios'
export default {
	name: 'UsersCreater',
	components: {
		UserList,
		UsersSuscribers
		},
	data() {
		return {
			id:3,
			filters: [
				{ text: 'list', callback: () => console.log('list') },
				{ text: 'favorite', callback: () => console.log('favorite') },
				{ text: 'delete', callback: () => this.delete },
			],
			NewUser: null,
			
		}
	},
	methods: {
		closeNewUser(){
			this.NewUser = false
		},
		deleteTest(){
			this.$swal('Hello Vue world!!!');
		}
		
	},

}
</script>


<style lang="stylus" scoped   >
	@import "../../styles/theme.styl"
	.titleCont
		font-size: 1.1em;
		font-weight: 600;
		h4
			margin: 5px auto;
			text-align: center;
		
	.ContainerRuta 
		width: 100%;
		max-width: 100vw;
		display: flex;
		justify-content: center;
	
	.containerPanel
		width: 100%;
		height: 100%;
		display: flex;
		padding: .5em;
		.dashboard
			border-radius: 7.5px;
		
		.panel
			padding: 15px;		
		.dashboard
			background: #fff;
			flex: 0 1 25%;
			padding :15px 7.5px;
			padding: 0 10px;
			margin-right: 5px;
			.actions
				display: flex;
				justify-content: space-between;
				padding: 10px 0;
				.cta
					text-transform: none;
					height: 40px !important;
				
				.filterButton 
					flex: 0 2 50%;
					.v-text-field__details
						display: none;
					
				
			
		
		.panel
			flex: 3 1 auto;
		
	
	#list-16
		margin-top: 40px !important
	
	.bold
		font-weight: bold
	
</style>
