<template>
    <v-container class=" " justify-center >
        <h3>Content panel</h3>
        <v-btn rounded color="primary"  @click="fetchUser"> Fetch user Data</v-btn>
    </v-container >
</template>

<script>
import axios  from 'axios'
// import {mapActions} from 'vuex'
export default {
    data() {
        return {
        }
    },
    methods: {
        fetchUser(){
            axios({
                method:'get',
                url: 'http://localhost:8888/user/',
                headers: {
                    // "Access-Control-Allow-Origin": "*",
                    'X-CSRF-TOKEN': localStorage.getItem('token')
                },
                withCredentials: true
            }).then((res) => {
                console.log(res)

            }).catch((err) => {
                console.log(err)

            });
        }

    // ...mapActions([
    //     'fetchUser'
    // ])

    },
    // beforeMount() {
    //     this.fetchUser() 
    // },

}
</script>

<style lang="stylus" scoped>

</style>