<template>
    <section class="about">
        <div class="about_text">
            <article>
                <div class="about_text_title">Nosotros.</div>
                <div class="content">
                    <span>
                        Somos una plataforma educativa y centro fitness especializado en la capacitación de bailarines integrales a través de la exploración de los diversos estilos de la danza y la aplicación de las últimas tendencias en en baile para crear excelentes profesionales en este arte
                    </span>
                </div>
                <div class="menu"></div>
            </article>
        </div>

        <div class="about_img"></div>
    </section>
</template>

<script>
    export default {
        name: "AboutUs"
    }
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"
    .about
        height 80vh;
        display flex;
        margin: -30px 0;
        &_img
            background-image url("../../assets/img/about-us.jpg")
            flex 0 0 50%
            box-shadow: -2px 1px 12px 1px rgba(0 0 0 .3)
            background-size: cover;
            background-position: center;
        &_text
            height: 90%;
            align-self: center;
            padding: 0 5vw;
            font-size 1.5em
            background-color: $color.secondary
            color: white
            display: flex;
            align-items: center;
            &_title
                font-weight: 900;
                font-size: 2em;
                padding: 15px;
            .content
                font-size: 0.85em;
</style>