<template>
	<div class="actions">
		
		<!--//on auth!-->
			<v-expand-transition>
				<section v-show="currentUser" class="auth">
					<v-btn class="mx-3" depressed rounded color="primary" dark>
						<span>Perfil</span>
						<div class="profile-icon">
							<v-icon small>mdi-account-circle</v-icon>
						</div>
					</v-btn>
					
					<!-- Menu contenido -->
					<v-menu rounded="Custom"  transition="slide-x-transition">
						<template v-slot:activator="{ on, attrs }">
							<v-btn
								outlined
								color="primary"
								class="ml-4"
								v-bind="attrs"
								v-on="on"
							>
								¿Que quieres practicar?
							</v-btn>
						</template>
						<!-- lista de contenido -->
						<v-list dense>
							<v-subheader>Academia</v-subheader>
							<v-list-item-group v-model="item" color="primary"> 
								<v-list-item
										v-for="n in catedras"
										:key="n"
										link
								>
									<v-list-item-title @click="goGalery" >
										{{n}}
									</v-list-item-title>
								</v-list-item>
							</v-list-item-group>
							<v-subheader>Fitness</v-subheader>
							<v-list-item-group v-model="item2" color="secondary"> 
								<v-list-item
										v-for="n in fitness"
										:key="n"
										link
								>
									<v-list-item-title @click="goGalery()" >
										{{n}}
									</v-list-item-title>
								</v-list-item>
							</v-list-item-group>
						</v-list>
					</v-menu>

				</section>
			</v-expand-transition>


			<!--//on no auth-->
			<v-expand-transition>
				<section v-show="!currentUser" class="noAuth">
						<router-link to="/Register">
							<v-btn class="mx-2"
								rounded
								color="primary"
							>
								Registrarme
							</v-btn>
						</router-link>
						<router-link to="/Login">
							<v-btn class="ml-4"  color="primary" fab small dark>
								<v-icon>mdi-account-circle</v-icon>
							</v-btn>
						</router-link>
				</section>
			</v-expand-transition>
	</div>
</template>

<script>
	import {VExpandTransition} from 'vuetify/lib'
	import {mapGetters} from 'vuex'
	export default {
		name: "ActionButtons",
		components:{
			VExpandTransition
		},
		data(){
			return{
				onAuth: false,
				item: null,
				item2: null,
				catedras:[
					'Gimmnasia',
					'Canto',
					'Commertial dance',
					'Danza',
					'Lírico',
					'Teatro'
				],
				fitness:[
					'Zumba',
					'Strong',
					'Latin caribbean',
					'Fit combat',
					'Zumba kids',
				],
			}
		},
		computed: {
			...mapGetters(['currentUser'])
		},
		methods: {
			goGalery(){
				this.$router.push({ name: 'galery' })
			}
		},
	}
</script>

<style lang="stylus" scoped>
	.profile-icon
		display flex
		justify-content center
		align-items center
		margin: 3px;

</style>