<template>
    <section class="cardsContact">
        <v-container>
            <v-row dense>
                <v-col cols="12" v-for="(item, index) in contactCard" v-bind:key="index">
                    <v-scroll-y-reverse-transition  >
                        <a cardLink target="_blank"  :href="item.link">
                            <v-card
                                    :color="item.color"
                                    dark
                                    class="card_contact"
                                    elevation="6"
                                    hover
                                    v-show="cardsOn"
                                    
                            >
                                <v-icon color="base">{{item.icon}}</v-icon>
                                <div class="card_contact_text">
                                    <v-card-title class="headline">{{item.title}}</v-card-title>
                                    <v-card-subtitle>{{item.subTitle}}</v-card-subtitle>
                                </div>

                            </v-card>
                        </a>

                    </v-scroll-y-reverse-transition >

                </v-col>
            </v-row>
        </v-container>
    </section>


</template>

<script>
    export default {
        name: "CardsContact",
        data (){
            return{
                cardsOn:null,
                contactCard:[
                    {
                        title:'Contacto directo',
                        subTitle:'Dejanos un mensaje en Whatsapp',
                        icon:'fa fa-whatsapp',
                        color:'#3eba4f',
                        link:'https://api.whatsapp.com/send?phone=+584244005706&text=Quiero%20mas%20informacion'
                    },
                    {
                        title:'Comunica tus dudas',
                        subTitle:'Contactanos directamente',
                        icon:'fa fa-id-badge',
                        color:'#96c600',
                    },
                    {
                        title:'Síguenos',
                        subTitle:'',
                        icon:'fa fa-instagram',
                        color:'#d4237d',
                        link:'https://www.instagram.com/dancefitacademy'
                    },
                ]
            }
        },
        mounted() {
            setTimeout(()=> this.cardsOn = true, 500)
        }
    }
</script>

<style lang="stylus" scoped>
    .cardLink
        text-decoration none !important
    .card_contact
        display flex
        border-radius: 20px;
        margin: 10px 0;


        i
            flex: 0 0 25%;
        &_text
            display flex
            flex-direction column
            .sub-t
                font-size .8em
        .card__title
            padding: 12px !important;
            font-weight 700

</style>