<template>
    <section class="clothes">
        <div class="clothes-title">
            <h4>
                DANCEFIT <span>CLOTHES</span>
            </h4>
        </div>
        <section class="clothesGalery" >
                <ClothesCard
                    v-for="(item, index) in clothes"
                    :key="index"
                    :name='item.name'
                    :pic='item.pic'
                />
        </section>
    </section>
</template>

<script>
    import ClothesCard from'./components/ClothesCard.vue'
    export default {
        name: "Events",
        components:{
            ClothesCard,
        },
        data() {
            return {
                clothes:[
                    {name:'Franela', pic:'7.jpg'},
                    {name:'Leggins', pic:'4.jpg'},
                    {name:'Franela', pic:'franela.jpg'},
                    {name:'Leggins', pic:'leggins.jpg'},
                ]
            }
        },
    }
</script>

<style lang="stylus" scoped>
    @import '../../styles/theme.styl'
    .clothes
        background: $color.lightBase
        padding: $marginPage
        padding-bottom 2em
        .clothesGalery
            display flex
            flex-wrap wrap
            justify-content: space-around;
        &-title
            font-size 2em
            font-weight 500 
            font-style italic
            display flex
            justify-content center
            padding: 5vh;
            span
                font-weight 900
                font-style normal

    .events_panel
        height 100vh
        display: flex;
        justify-content: space-around;
        padding-bottom: 2.5vh
        




</style>