<template>
    <section class="contactBanner">
        <h3>¿Qué quieres estudiar?</h3>
        <div class="action">
            <v-btn class="contactButton" large  tile  color="secondary">
                <span>
                    ESCRÍBENOS
                </span>
                <v-spacer></v-spacer>
                <v-icon >fa fa-envelope</v-icon>
                <v-icon >fa fa-commenting</v-icon>
                <v-icon >fa fa-whatsapp </v-icon>
            </v-btn>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ContactBanner"
    }
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"
    .contactBanner
        min-height 15vh
        display flex
        justify-content space-between
        padding $marginPage
        background-color: $color.primary
        color: $color.lightBase
        align-items center
        h3
            font-size: 1.3em;
            font-weight: 800;
    .action
        .contactButton
            width: 25em;
            font-size: 1.2em;
            border-radius 0 25px 25px 0
            span 
                letter-spacing 5px
            i
                padding 7px
                margin  0 5px
                border-radius 50%
                background-color: $color.base
                color: $color.primary
            
                font-size: 0.85em;

</style>