<template>
    <v-bottom-sheet v-model="sheet" inset>

        <!--lanzador -->
        <template v-slot:activator="{ on, attrs }">
            <v-fab-transition>
                <v-btn
                        bottom
                        right
                        fixed
                        v-show="buttonOn"
                        color="primary"
                        fab
                        dark
                        v-on="on"
                        v-bind="attrs"
                        large
                >
                    <v-icon color="base">mdi-help</v-icon>
                </v-btn>
            </v-fab-transition>
        </template>

        <!-- sheet!-->
        <v-sheet class="sheet text-center"   min-height="500px">

                    <div class="sheet_head elevation-3">
                        <div>
                            <div class="titulo">Escríbenos tus dudas</div>
                            <div class="sub-t">Contacto directo</div>
                            <section class="contactIcons">
                                <v-icon color="base">fa fa-whatsapp</v-icon>
                                <v-icon color="base">fa fa-id-badge</v-icon>
                                <v-icon color="base" >fa fa-instagram</v-icon>
                            </section>
                        </div>
                    </div>
                    <!--cards with contact-->
                    <CardsContact/>
            </v-sheet>


    </v-bottom-sheet>
</template>

<script>
    import CardsContact from "./CardsContact";
    export default {
        name: "ContactBall",
        components: {CardsContact},
        data: () => ({
            sheet: false,
            buttonOn: false,
        }),
        methods: {
            change() {
                this.buttonOn = true
            }
        },
        mounted() {
            setTimeout(this.change, 5000);
        },
        
    }
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"




    //fix dialog whith ajusted to content child
    .v-bottom-sheet.v-dialog.v-bottom-sheet--inset
        max-width: fit-content;
    .v-dialog__content
        width: 55%;
        margin-left: 45%;


    .sheet
        width 100%
        display flex
        flex-wrap wrap
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        .sheet_head
                flex 2 0 100%
        .cardsContact
            flex 1 2 70%
            margin: -40% 0;
        .sheet_head
            background  $color.primary
            display flex
            height: 30vh;
            justify-content: center;
            padding: 25px;
            font-size 1.5em
            color #fff
            .titulo
                font-weight 800
            *
                color inherit
            .contactIcons
                display flex
                justify-content: center;
                align-items: center;
                i
                    margin: 10px 15px;
                    font-size 1.3em



</style>