<template>
    <article class="infoBanner">
        <div class="infoBanner_block noBorder">
            <figure>
                <v-icon color="base"> mdi-play-circle-outline</v-icon>
            </figure>
            <div class="details">
                <h3>Clases On line</h3>
                <p>
                    Conviértete en un prosefional de la
                    danza desde cualquier dispositivo.
                </p>
            </div>
        </div>

        <div class="infoBanner_block">
            <figure>
                <v-icon color="base">mdi-book-account-outline</v-icon>
            </figure>
            <div class="details">
                <h3>Pensum integral de danza</h3>
                <p>
                    Cátedras y profesores especializados
                    para formar bailarnes integrales.
                </p>
            </div>
        </div>

        <div class="infoBanner_block">
            <figure>
                <v-icon color="base">mdi-calendar-alert</v-icon>
            </figure>
            <div class="details">
                <h3>Eventos y presentaciones</h3>
                <p>
                    Galería de videos con clases
                    diseñadas para tu cátedra.
                </p>
            </div>
        </div>
        
    </article>
</template>

<script>
    export default {
        name: "InfoBanner"
    }
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"

    $grey-text= darken($color.grey, 30%)
    .noBorder
        border-color transparent !important
    .infoBanner
        display: flex;
        padding: 35px 35px;
        background $color.base
        flex-wrap: wrap;
        &_block
            flex: 2 3 30%;
            display flex
            border-left: 1px solid $grey-text;
            padding: 10px;
            figure
                margin: 0 1.25em;
                display: flex;
                i
                    font-size: 3em;
                    color: $grey-text !important;
                    align-self: center;

            .details
                display: flex;
                flex-direction: column;
                color: $grey-text
                justify-content: flex-end;
                p
                    padding  0
                    margin 0 !important
</style>