<template>
	<section  class="navbar">
		<v-app-bar
				app
				color="base"
				dark
		>
			<div class="d-flex align-center">
				
				<router-link to="/"> 
					<v-img
							alt="DanceFit"
							class="shrink mr-2"
							contain
							transition="scale-transition"
							width="150"
					>
						<img src="../../assets/img/dancefit-logo.svg" alt="">
					</v-img>
				</router-link>

			</div>
			<v-spacer></v-spacer>
			<ActionButtons/>
		</v-app-bar>
	</section>
</template>

<script>
	import ActionButtons from "./ActionButtons";
	export default {
		name: "NavBar",
		components: {ActionButtons},
		data: function () {
			return {
				logo:"@",
			}
		}
	}
</script>

<style lang="stylus" scoped>
	.navbar
		display flex
		.title
			color darken(#e6e6e6, 50%)
</style>