<template>
    <div>
        <section class="portade">
            <figure class="mask"></figure>
            <div class="portade_text">
                <article class="copys">
                    <h1 class="title1">
                        <span class="first">ACADEMIA</span>
                        <span class="second">INTEGRAL</span>
                    </h1>
                    <h2 class="title2">
                        <span>DE</span>
                        <span>DANZA</span>
                    </h2>
                </article>
                <div class="action">
                    <v-btn class="mx-3  pa-5"  rounded  color="secondary" dark>
                        Unirme
                    </v-btn>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    export default {
        name: "Portade",
    }
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"
    $grey-text= darken($color.grey, 20%)

    .portade
        background-image url("../../assets/img/dancefit_academy_banner.jpg")
        width 100vw
        height 90vh
        background-size cover
        position relative;
        z-index 0
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .mask
            position absolute
            width 100%
            height 100%
            background-color:  #00000063;
            z-index 1

        //text tilte h1
        .portade_text
            z-index: 4;
            position: relative;
            display: flex;
            justify-content: flex-start;
            padding-left: 10vw;
            flex-direction column
            .action
                padding: 25px 0;
                button
                    padding: 15px 50px !important;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: $color.base
                    margin 0 !important
                    display flex
                    justify-content center
                    align-items center
            .copys
                font-size: 4em
                color: $color.base
                .title1
                    display: flex;
                    flex-direction: column;
                    line-height: 1;
                    font-size 1em
                    span:nth-child(odd)
                        font-size 1.1em
                        font-weight 900
                    span:nth-child(even)
                        font-style italic
                        font-weight 300
                        font-size 1em


                    span
                        line-height: 1;

                .title2
                    line-height: 1;
                    font-size 1em
                    span
                        line-height: 1;
                        padding: 0 8px 0 0;
                    span:nth-child(odd )
                        font-weight 900
                    span:nth-child(even)
                        font-weight 300
                        font-style italic


</style>