<template>
    <section class="profesionals">

        <!-- title text-->
        <div class="header">
            <div class="header_title">
                <span>
                    LOS
                    <span class="black">MEJORES</span>
                    PROFESIONALES
                </span>
            </div>
            <div class="header_text"></div>
        </div>

        <!-- cards container-->
        <ProfCards/>

    </section>
</template>

<script>
    import ProfCards from "./ProfCards";
    export default {
        name: "Profesionals",
        components: {ProfCards}
       
    }
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"

    .profesionals
        background-color: $color.black
        min-height 80vh
        padding: $marginPage
        padding-bottom 10vh !important
        padding-top 2.5vh !important
        display flex
        flex-wrap wrap
        .header
            flex 2 1 auto
            display: flex;
            justify-content: center;
            font-size: 2em;
            color: $color.base
            margin 4em 0 2em 0;
            &_title
                font-size 1.5em
                font-style italic
                word-spacing: -5px;
                .black
                    font-weight 900
                    font-style normal !important

</style>