<template>
    <div class="prof-cards">

        <v-card
                color="base"
                light
                v-for="(item, index) in this.prof"
                :key="index"
                class="cardProfile"
        >
            <div class="d-flex flex-no-wrap">
                <v-avatar
                        class="ma-3"
                        size="125"
                        tile
                >
                <!-- :src="require('./assets/logo.png')" -->
                <img :src="require('../../assets/img/profesores/' + item.imagefile)" alt="">
                </v-avatar>

                <div class="card-data">
                    <v-card-title
                            class="headline"

                    >
                        {{item.name}}
                    </v-card-title>

                    <v-card-subtitle   class="subHead" >
                        {{item.category}}
                    </v-card-subtitle>
                    <v-card-text>
                        <div class="social">
                            <v-icon small>fa fa-twitter</v-icon>
                            <v-icon small>fa fa-linkedin</v-icon>
                            <v-icon small>fa fa-instagram</v-icon>
                        </div>
                        <div class="skillIcon">
                            <v-icon small>fa fa-user-circle-o</v-icon>
                        </div>
                    </v-card-text>
                </div>

            </div>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "ProfCards",
        data() {
            return {
                prof:[
                    {
                        name: "Yunin Terán",
                        category:"Directora",
                        imagefile:'profesores_perfil_10.jpg'
                    },
                    {
                        name: "Carlos Briceño",
                        category:"Commercial Dance  Urban Dance",
                        imagefile:'profesores_perfil_4.jpg'
                    },
                    {
                        name: "Alexandra Quintero",
                        category:"Gimnasia aplicada a la danza",
                        imagefile:'profesores_perfil_1.jpg'
                    },
                    {
                        name: "Andrea Quintero",
                        category:"Gimnasia aplicada a la danza",
                        imagefile:'profesores_perfil_2.jpg'
                    },
                    {
                        name: "Juan Reimondez",
                        category:"Teatro",
                        imagefile:'profesores_perfil_6.jpg'
                    },
                    {
                        name: "Luis Miguel Suárez",
                        category:"Teatro",
                        imagefile:'profesores_perfil_7.jpg'
                    },
                    {
                        name: "William Blanco",
                        category:"Danza Contemporánea",
                        imagefile:'profesores_perfil_9.jpg'
                    },
                    {
                        name: "Camila Rojas",
                        category:"Danza Integral",
                        imagefile:'profesores_perfil_3.jpg'
                    },
                    {
                        name: "Veruska Valdez",
                        category:"Canto",
                        imagefile:'profesores_perfil_8.jpg'
                    },
                    {
                        name: "Iliana Ridao",
                        category:"Danza Integral",
                        imagefile:'profesores_perfil_5.jpg'
                    },
                ]
            }
        },
    }
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"

    .prof-cards
        flex: 1 3 100%;
        display: grid;
        grid-auto-rows: auto;
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr;
        margin: 0 0 20px 0;

        /*
        .cardProfile:nth-child(odd)
            display: flex;
            .d-flex
                flex-direction: row-reverse;
        */
        .card-data
            width: 100%;

            .headline
                font-weight 700
            .subHead
                font-size .9em
            .v-card__text
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .social
                    display flex
                    align-items: center;
                    i
                        margin 0 5px
                        color: $color.primary

                .skillIcon i
                    font-size: 2em !important;

</style>