<template>
	<v-card class="mx-auto" max-width="800">
		<v-card-title class="title font-weight-regular justify-space-between">
			<span class="title-black">{{ currentTitle }}</span>
			<v-avatar color="primary lighten-2" class="subheading white--text" size="24" v-text="step"></v-avatar>
		</v-card-title>

		<v-window v-model="step">
			<!-- //paso uno -->
			<v-window-item :value="1">
				<v-card-text>
					<!-- datePiker -->
					<v-menu
						ref="menu"
						v-model="menu"
						:close-on-content-click="false"
						transition="scale-transition"
						offset-y
						min-width="290px"
					>
						<template v-slot:activator="{ on, attrs }">

						<v-text-field
							v-model="date"
							label="Dia de nacimiento"
							prepend-inner-icon="mdi-calendar"
							readonly
							v-bind="attrs"
							v-on="on"
						></v-text-field>

						</template>
						<v-date-picker
						ref="picker"
						v-model="date"
						:max="new Date().toISOString().substr(0, 10)"
						min="1950-01-01"
						@change="save"
						></v-date-picker>
					</v-menu>

					<!-- direccion -->
					<v-text-field
						label="Dirección"
						prepend-inner-icon="mdi-map-marker"
					></v-text-field>

					<!-- TELEFONO -->
					<v-text-field
						type="text"
						label="Telefono"
						prepend-inner-icon="mdi-phone"
					></v-text-field>

					<!-- OBSERVACIONES -->
					<v-textarea
						clearable
						filled
						name="input-7-1"
						label="Observaciones"
						hint="¿Tiene alguna discacidad o enfermedad?"
						>
					</v-textarea>
					
					
					<span class="caption grey--text text--darken-1">
						Ingresa los datos del estudiante para realizar la inscripción
					</span>
				</v-card-text>
			</v-window-item>


			<!-- //paso dos -->

			<v-window-item :value="2">
				<v-card-text>
					<v-container fluid class="my-0"  >
						<v-row justify="space-between" >
								
							<v-col  sm="12" class="">
								<v-text-field 
									label="Parentesco"
									type="text"
									prepend-inner-icon="mdi-account-multiple"
								>
								</v-text-field>
							</v-col>

							<v-col md="6" sm="12" class="pl-1">
								<v-text-field 
									label="Nombre"
									type="text"
									prepend-inner-icon="mdi-account"
								>
								</v-text-field>
							</v-col>
							<v-col md="6" sm="12" class="pr-1">
								<v-text-field 
									label="Apellido" 
									type="text"
									prepend-inner-icon="mdi-account"
									>
									</v-text-field>
							</v-col>
							
							<!-- TELEFONO -->
							<v-col md="6" sm="12" class="pl-1">
								<v-text-field
									type="text"
									label="Telefono"
									prepend-inner-icon="mdi-phone"
								>
								</v-text-field>
							</v-col>

							<v-col md="6" sm="12" class="pr-1">
								<v-text-field
									type="email"
									label="Correo"
									prepend-inner-icon="mdi-email"
								>
								</v-text-field>
							</v-col>
						</v-row>
					</v-container>
					<!-- texto de ayuda -->
					<span class="caption grey--text text--darken-1">
						Agrega información del representante
					</span>
				</v-card-text>
			</v-window-item>



			<!-- //paso tres -->

			<v-window-item :value="3">
				<div class="pa-4 text-center">
					<v-img class="mb-4" contain height="128" src="https://cdn.vuetifyjs.com/images/logos/v.svg"></v-img>
					<h3 class="title font-weight-light mb-2">
						Registra tu pago
					</h3>
					
					<v-row justify="center" >
						<v-col md="8" sm="10" class="pr-1">
							<v-file-input
								:rules="rules"
								accept="image/png, image/jpeg, image/bmp"
								placeholder="Pick an avatar"
								prepend-icon="mdi-camera"
								label="Avatar"
							></v-file-input>
						</v-col>
					</v-row>
					<span class="caption grey--text">Su pago será revisado</span>
				</div>
			</v-window-item>
		</v-window>

		<v-divider></v-divider>

		<v-card-actions>
			<v-btn
				text @click="back()"
				>
				{{step === 1 ? 'salir' : 'atras'}}
			</v-btn>
			<v-spacer></v-spacer>
			<v-btn :disabled="step === 3" color="primary" depressed @click="step++">
				Next
			</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
export default {
	name: 'FormCatedras',
	data () {
		return {
			step: 1,
			dialog: true,
			//date data
			date: null,
			menu: false,
		}
		
	},
	watch: {
		menu (val) {
			val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
		},
	},
	computed: {
		currentTitle () {
			switch (this.step) {
				case 1: return 'Datos del estudiante'
				case 2: return 'Datos del representante'
				default: return 'Account created'
			}
		},
		
	},
	methods: {
		back(){
			(this.step===1) ? this.closeDialog() : this.step--
		},
		closeDialog (){
			console.log('cerrando!')
			this.$emit('closeDialog')
		},
		//date picker method
		save (date) {
			this.$refs.menu.save(date)
		},
	}
}
</script>


<style lang="stylus" scoped>
	.v-dialog
		width: 600px;
	.title-black
		font-weight 700
</style>