<template>
	
		<v-navigation-drawer
				v-model="drawer"
				:mini-variant.sync="mini"
				permanent
				color="#fff"
				class="nav elevation-2"
				
			>
			<v-overlay :value="isLoading">
							<v-progress-circular color="secondary" indeterminate size="90"></v-progress-circular>
			</v-overlay>
				<v-list-item class="px-2">
					<!-- <v-list-item-avatar>
						<v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
					</v-list-item-avatar> -->
					<!-- <v-list-item-title>John Leider</v-list-item-title> -->
					<v-btn
						icon
						@click.stop="mini = !mini"
					>
						<v-icon>mdi-chevron-left</v-icon>
					</v-btn>
				</v-list-item>

				<v-divider></v-divider>

				<!-- menu -->
				<v-list >
					<v-list-item
					v-for="item in menuItems"
					:key="item.title"
					link
					@click="item.function()"
					>
					<v-list-item-icon>
						<v-icon color="darkSecondary">{{ item.icon }}</v-icon>
					</v-list-item-icon>

					<v-list-item-content>
						<v-list-item-title>{{ item.title }}</v-list-item-title>
					</v-list-item-content>
					</v-list-item>
				</v-list>
			</v-navigation-drawer>
</template>

<script>
// import Axios from 'axios'
import {mapActions} from 'vuex'
export default {
	data() {
		return {
			drawer: null,
			menuItems: [
				{
					title: "Home",
					icon: "mdi-home",
					function: () => {
						this.$router.push({
							name: 'Home'
						});
					}
				},
				{
					title: "Administrar",
					icon: "mdi-school",
					function: () => {
						this.$router.push({
							path:'/panel/'
						});

					}
				},
				{
					title: "Contenido",
					icon: "mdi-video-vintage",
					function: () =>{
						this.$router.push({
							path:'/panel/contentPanel'
						});
						console.log('HEY')
					}
				},
				{
					title: "salir",
					icon: "fa fa-sign-out",
					function: this.logout
				}
			],
			mini: true,
			isLoading: false
		};
	},
	methods: {
		...mapActions(['logoutRequest']),
		logout(){
			this.isLoading = true;
			this.logoutRequest()
			.then(() => {
				this.isLoading = false;
				// this.$cookies.remove("token")
				this.$router.push({
					name: 'Home'
				});
			}).catch(e => {
				this.isLoading = false
				console.log(e);
			});
	}

		//local logout (v1)
		// logout() {
		// 	this.isLoading = true;
		// 	Axios
		// 		.delete("http://localhost:8888/session/logout/", {
		// 			validateStatus: function(status) {
		// 				return status >= 200 && status <= 500; // default
		// 			}
		// 		})
		// 		.then(() => {
		// 			this.isLoading = false;
		// 			// this.$cookies.remove("token")
		// 			this.$router.push({
		// 				name: 'Home'
		// 			});
		// 		}).catch(e => {
		// 					this.isLoading = false
		// 					console.log(e);
		// 				});
		// }
	}
}
</script>

<style lang="scss" scoped>

	

</style>