//FONTS
@font-face
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-L'), url(./assets/fonts/Montserrat-Light.otf) format('truetype');
@font-face
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.otf) format('truetype');

@font-face
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat-M'), url(./assets/fonts/Montserrat-Medium.otf) format('truetype');

@font-face
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('futura_b'), url(./assets/fonts/Montserrat-SemiBold.otf) format('truetype');

@font-face
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('futura_B'), url(./assets/fonts/Montserrat-ExtraBold.otf) format('truetype');

@font-face
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('futura_black'), url(./assets/fonts/Montserrat-Black.otf) format('truetype');

*
  font-family: Montserrat !important