$color ={
        primary: #850d74,
        secondary: #96c600,
        base: #eaeaea,
        lightBase: lighten(#eaeaea , 40%),
        grey: #959595,
        grey-text: darken(#959595, 20%)
        black: #494949,
        error: #FF5252,
        info: #2196F3,
        success: #4CAF50,
        warning: #FFC107
    }

$marginPage = 0px 5vw;
$marginPage-y = 5vh auto;