<template>
	<div class="cont_signIn">
		<v-container class="fill-height" fluid>
			<v-row align="center" justify="center">
				<v-col cols="11" sm="8" md="5">
					<router-link to="/">
						<div class="brand">
								<v-img
										alt="DanceFit"
										class="shrink mr-2"
										contain
										transition="scale-transition"
										width="40%"
								>
									<img class="brand-img" src="../../assets/img/logo-white.png" alt="">
								</v-img>
						</div>
					</router-link>
					<v-card class="elevation-3">

						<v-overlay :value="isLoading">
							<v-progress-circular color="secondary" indeterminate size="90"></v-progress-circular>
						</v-overlay>

						<!-- Toolbar -->
						<div class="bar_auth">
							<div class=" bar_title">
								<span>Resgistrate</span>
							</div>
						</div>
						
						<v-card-text class="card_body">
							<v-form ref="login_form" lazy-validation v-model="valid">
								<v-text-field 
									:rules="nameRules" 
									label="Nombre" 
									name="name" 
									v-model="name" counter="15"
									prepend-inner-icon="mdi-account" type="text"
								/>

								<v-text-field 
									:rules="nameRules" 
									label="Apellido" 
									name="lastName" 
									v-model="lastName" counter="15"
									prepend-inner-icon="mdi-account" type="text"
								/>

								<v-text-field label="Email" name="email" v-model="email" :rules="emailRules"
									prepend-inner-icon="mdi-email" type="email" />
								<!-- password -->
								<v-text-field :rules="passwordRules" id="password" label="Contraseña" name="password"
									v-model="password" prepend-inner-icon="mdi-key" type="password" />
								<v-text-field :rules="password2Rules" id="password2" label="Repite la contraseña"
									name="password" v-model="password2" prepend-inner-icon="mdi-key" type="password" />

								<v-switch v-model="accept" class="mx-2" label="Acepto los terminos y condiciones">
								</v-switch>
							</v-form>
						</v-card-text>

						<v-card-actions>
							<v-spacer />
							<!-- send button -->
							<v-btn class="cta"  large color="primary" @click="createUser()">Registrarme</v-btn>
							<!-- <v-btn  large color="danger"  @click="test()">Test</v-btn>
							<v-btn  large color="primary"  @click="isUser()">fecth user</v-btn> -->
						</v-card-actions>
					</v-card>
					<div class="helpAuth d-flex justify-center">
						<span class=" text-center">¿Ya tienes una cuenta? 
							<v-btn class="mx-2" outlined color="white" small>Ingresa</v-btn> 
						</span>
					</div>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>


<script>
	import Axios  from 'axios'
	import { mapActions, mapMutations } from 'vuex'
	export default {
		name:'SignUp',
		data() {
			return {
				valid: false,
				name: '',
				lastName: '',
				email: '',
				password: '',
				password2: '',
				accept: false,
				isLoading: false,
				// FORMS RULES
				nameRules: [
					v => !!v || 'Debes llenar el campo',
					v => v.length <= 10 || 'El nombre debe tener menos de 10 caracteres'
				],
				lastNameRules: [
					v => !!v || 'Debes llenar el campo',
					v => v.length <= 10 || 'El apellido debe tener menos de 10 caracteres'
				],
				emailRules: [
					v => /.+@.+\..+/.test(v) || 'El e-mail debe ser valido',
					v => !!v || 'Debes llenar el campo'
				],
				passwordRules: [
					v => v.length >= 9 || 'La contraseña debe tener al menos 9 caracteres'
				],
				password2Rules: [
					v => v.length >= 9 || 'La contraseña debe tener al menos 9 caracteres',
					// v => this.password == this.password2 || 'Las contraseñas no coincide'
				]

			}
		},

		methods: {
			...mapActions(['fetchUser2']),
			...mapMutations(['ADD_USERINFO']),
			// test(){
			// 	// Axios.get('http://localhost:8888/session/check/').then(response=>{
			// 	// 	console.log(response)
			// 	// }).catch(e => {
			// 	// 			console.log(e);
			// 	// 	});
			// 	let token =  localStorage.getItem("token");
			// 	console.log(token);
			// 	Axios.get('http://localhost:8888/user/', {
			// 		headers: {
			// 			'authorization': `token ${token}`
			// 		}
			// 	}).then(user => console.log(user))
			// }
			// ,
			// isUser(){
			// 	let token = localStorage.getItem('token')
			// 	console.log(token)
			// 	Axios({
			// 		method:'get',
			// 		url: 'http://localhost:8888/user/',
			// 		headers: {
			// 			'authorization': {token}
			// 		}
			// 	})
			// },
			
			createUser(){
				if (this.$refs.login_form.validate()){
					this.isLoading = true;
					Axios({
						url: 'http://localhost:8888/user/',
						method: 'post',
						withCredentials: true,
						data: {
							name: this.name,
							password:this.password,
							email: this.email,
							// last_name:this.lastName,
						}
					})
					.then(response => {
						console.log(response);
						this.isLoading = false
						this.$refs.login_form.reset()
						this.$router.push({ name: 'Panel' })
						}).catch(e => {
							console.log(e);
					})
				}else{
					console.log('alert invalid!')
				}
			},
		},
	}


</script>

<style lang="stylus" scoped>
	@import'../../styles/theme.styl'
		
	.cont_signIn
		background $color.black ;
		height 100%
		display flex
		justify-content center
		align-items center
		.container
			margin: 0 ;


	.bar_auth
		display flex
		justify-content center
		.v-toolbar__title
			font-size 1.7em

	.v-card
		padding: 1.5em 1em;
	.v-input
		margin: 1.7em 1em;

	.bar_auth
		display flex
		justify-content center
		align-items center
		height: 5em;
		.bar_title
			font-size 1.7em
			color #0c0a1a
			font-weight 500
		
	.cta
		font-weight 800 !important
		font-size: .85em !important;

	.brand
		display: flex;
		justify-content: center;
		padding: 20px;
		margin: 5px;
	.brand-img
		width 100%
	
	.card_body
		padding: 0 10px;

	.helpAuth *
		color: white

	.helpAuth
		margin: 4em 0  0 0;
		font-size: 1em;
	*
		font-family: Montserrat

</style>