<template>
	<div class="cont_signIn">
	
		<v-container class="fill-height"  fluid>
			<v-row align="center" justify="center">
				<v-col cols="11" sm="8" md="5">
					<router-link to="/">
						<div class="brand">
								<v-img
									alt="DanceFit"
									class="shrink mr-2"
									contain
									transition="scale-transition"
									width="40%"
								>
									<img class="brand-img" src="../../assets/img/logo-white.png" alt="">

									<!-- <img src="../../assets/img/icons/dancefit-logo/Dancefit-white.png" alt=""> -->
								</v-img>
						</div>
					</router-link>
					<v-card px-3 class="elevation-6" >
						<v-overlay :value="isLoading">
							<v-progress-circular color="secondary" indeterminate size="90"></v-progress-circular>
						</v-overlay>
						<!-- <v-toolbar    class=" elevation-0 bar_auth">
							<v-toolbar-title>Ingresa</v-toolbar-title>
							<v-toolbar-title>Ingresa</v-toolbar-title>
						</v-toolbar> -->
						<div class="bar_auth">
							<div class=" bar_title">
								<span>Iniciar sesión</span>
							</div>
						</div>
						<v-card-text>
							<v-form ref="ingreso" lazy-validation v-model="valid">
								<!-- Name -->
								<v-text-field outlined :rules="emailRules" label="Email" name="email" v-model="email"
									prepend-inner-icon="mdi-account" type="email" class="my-5" />
								<!-- password -->
								<v-text-field outlined :rules="passwordRules" id="password" label="Password"
									name="password" v-model="password" prepend-inner-icon="mdi-key" type="password"
									class="my-5" />
							</v-form>
						</v-card-text>
						<v-card-actions>
							<v-spacer />
							<!-- send button -->
							<v-btn class="cta" block large  color="primary" @click="login">Login</v-btn>
						</v-card-actions>
					</v-card>

					<div class="helpAuth d-flex justify-center">
						<span class=" text-center">¿No tienes una cuenta? 
							<v-btn class="mx-2" outlined color="white" small>crea una gratis</v-btn> 
						</span>
					</div>
				</v-col>
			</v-row>
		</v-container>

	</div>
</template>


<script>
	// import Axios from 'axios'
	import {mapActions} from 'vuex'
	export default {
		data() {
			return {
				valid: false,
				email: '',
				password: '',
				emailRules: [
					v => !!v || 'Debes llenar el campo',
					v => /.+@.+\..+/.test(v) || 'El e-mail debe ser valido',
				],
				passwordRules: [
					v => !!v || 'Debes llenar el campo',
				],
				isLoading: false
			}
		},
		methods: {
			...mapActions(['authRequest']),
			
			login(){
				if (this.$refs.ingreso.validate()){
					this.isLoading = true;
                    
                    // request vuex!
					this.authRequest({
							email: this.email,
							password: this.password,
					})
					.then(response => {
						console.log(response)
						this.isLoading = false
						this.$refs.ingreso.reset()
						//redireccion
						this.$router.push({ path: '/Panel' })
						}).catch(e => {
							this.isLoading = false
							console.log(e.response.data);
					});
				}else{
					console.log('alert invalid!')
				}
			},
			
			
		}
	}
</script>

<style lang="stylus" scoped>
	@import '../../styles/theme.styl'
	// @import url(../../Styles/theme.styl);
	.cont_signIn
		background $color.black ;
		height 100%
		display flex
		justify-content center
		align-items center
		.container 
			margin: 0 ;

	.v-card
		padding: 1.5em 2em;
	.bar_auth
		display flex
		justify-content center
		align-items center
		height: 5em;
		.bar_title
			font-size 1.7em
			color #0c0a1a
			font-weight 500
	
	.cta
		font-weight 800 !important
		font-size: 1em !important;
		

	.helpAuth *
		color white

	.helpAuth
		margin: 4em 0  0 0;
		font-size: 1em;
	*
		font-family: Montserrat

	.brand
		display: flex;
		justify-content: center;
		padding: 20px;
		margin: 5px;
		img
			width 	100%
		
</style>