<template>
    <section class="academia">
        <article class="text">
            <h3>ACADEMIA</h3>
            <p>Ingresa a la galería de videos para conocer pénsum, clases y cursos disponibles. Conviértete en un profesional de la danza y fórmate de manera integral</p>
        </article>
        
        <section class="cards">
            <agile
                :slidesToShow='3'
                :swipeDistance='50'
                :dots="false"
                :navButtons="false"
                ref="carousel"
                >
                <ClassCard
                    v-for="(item, index) in this.classData" :key="index"
                    :title='item.title'
                    :subtitle="item.subtitle"
                    :pic="item.pic"
                />
            </agile>
            <div class="arrowButtons">
                <button
                    @click="$refs.carousel.goToPrev()"
                    color="base"
                    class="prev"
                >
                    <v-icon>mdi-arrow-left-drop-circle-outline</v-icon>
                </button>
                <button
                    @click="$refs.carousel.goToNext()"
                    color="base"
                    class="next"
                >
                    <v-icon>mdi-arrow-right-drop-circle-outline</v-icon>
                </button>
            </div>
        </section>

        <FitnessBanner/>

        <section class="cards">
            <agile
                :slidesToShow='3'
                :swipeDistance='50'
                :dots="false"
                :navButtons="false"
                ref="carousel2"
                >
                <ClassCard
                    v-for="(item, index) in this.fitnessData" :key="index"
                    :title='item.title'
                    :subtitle="item.subtitle"
                    :pic="item.pic"
                />
            </agile>
            <div class="arrowButtons">
                <button 
                    @click="$refs.carousel2.goToPrev()"
                    color="base"
                    class="prev"
                >
                    <v-icon>mdi-arrow-left-drop-circle-outline</v-icon>
                </button>
                <button
                    @click="$refs.carousel2.goToNext()"
                    color="base"
                    class="next"
                >
                    <v-icon>mdi-arrow-right-drop-circle-outline</v-icon>
                </button>
            </div>
        </section>

    </section>


</template>

<script>
    import { VueAgile } from 'vue-agile'
    import ClassCard from'./ClassCard'
    import FitnessBanner from'./FitnessBanner.vue'
    export default {
        name: "AcademiaSection",
        components:{
            ClassCard,
            agile: VueAgile,
            FitnessBanner
        },
        data() {
            return {

                fitnessData:[
                    {
                        title:'Zumba®' ,
                        subtitle:'tonifican y moldean el cuerpo utilizando un enfoque de aeróbic y acondicionamiento físico', 
                        pic:'zumba.jpg'
                    },
                    {
                        title:'STRONG' ,
                        subtitle:'acondicionamiento físico que combina como ningún otro elementos de peso corporal, estilo de resistencia, acondicionamiento muscular,', 
                        pic:'strong.jpg'
                    },
                    {
                        title:'LATIN CARIBBEAN' ,
                        subtitle:'programa de entrenamiento con fundamento aeróbico, el cual está basado en la enseñanza de los movimientos típicos de las diferentes danzas afro-latinas', 
                        pic:'latinCaribean.jpg'
                    },
                    {
                        title:'FIT COMBAT' ,
                        subtitle:'sistema de entrenamiento de fitness de combate que engloba técnicas de artes marciales y boxeo', 
                        pic:'fitcombat.jpg'
                    },
                    {
                        title:'ZUMBA KIDS',
                        subtitle:'combinan movimientos, música y comunidad en una clase para niños. Estas dos clases son fiestas llenas de movimiento.', 
                        pic:'zumbaKids.jpg'
                    }
                ],
                classData:[
                    {
                        title:'Gimmnasia' ,
                        subtitle:'Práctica de ejercicio f ísico que sirve para desarrollar, fortalecer y dar flexibilidad al cuerpo..', 
                        pic:'Gimnasia.jpg'
                    },
                    {
                        title:'Canto' ,
                        subtitle:'Dominar la técnica vocal y proporcionarle al estudiante una visión amplia de los diferentes estilos musicales...', 
                        pic:'Canto.jpg'
                    },
                    {
                        title:'COMMERCIAL DANCE' ,
                        subtitle:'Tendencia que busca involucrar cualquier estilo de baile con la era en la que vivimos actualmente...', 
                        pic:'Commercialdance.jpg'
                    },
                    {
                        title:'Danza' ,
                        subtitle:'Elementos técnicos de la danza clásica y moderna, desarrollando el ritmo, dominio corporal, creatividad y concentración del niño...', 
                        pic:'Danza.jpg'
                    },
                    // {
                    //     title:'Lírico' ,
                    //     subtitle:'Fusión de la danza contemporánea, el jazz y elementos de la gimnasia y el ballet.', 
                    //     pic:'lirico.jpg'
                    // },
                    {
                        title:'Teatro' ,
                        subtitle:'Desarrollar y potenciar las habilidades y destrezas corporales, gestuales y vocales...', 
                        pic:'Teatro.jpg'
                    }
                    
                    
                ],
                classNumber:null ,
                n: 5,
            }
        },
        beforeMount(){
            this.classNumber = this.classData.length
            console.log(this.classNumber)
            console.log(this.cantidad)
            
        },
        computed:{
            cantidad(){
                return this.classData.length
            }
        }
        
    }
</script>

<style lang="stylus" scoped>
    @import "../../../styles/theme.styl"
    .arrowButtons
        position absolute
        top 50%;
        width: 100%
        display flex
        justify-content: space-between;
        padding: 0 30px;
        left: 0;
        i
            color: $color.grey
            font-size 2em
    .academia
        min-height 100vh
        background-color: #fff
        margin: $marginPage-y
        .cards
            position relative
            margin: 25px 0
            padding 20px 50px 

            .agile
                cursor: grab

        .text
            width: 60%;
            margin: auto auto !important;
            color: $color.grey-text
            display flex
            flex-direction column
            align-items center
            margin: 1em 0
            font-size 1.5em
            padding 20px 50px 

            h3
                font-size  2em
                font-weight 800
            p
                font-size: .7em;
                margin: 15px 0;
.next
    margin-right -15px
.prev
    margin-left -15px
.agile__actions
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 3em;
    position: absolute;
    width: 100%;
    top: 40%;
.agile *
    overflow none

</style>