<template>
    <section>
        <v-card
            class="mx-auto"
            max-width="344"
            >
            <v-img
                :src="require('@/assets/img/class/' + this.pic)"
                height="280px"
            ></v-img>

            <v-card-title>
                {{title}}
            </v-card-title>

            <v-card-subtitle>
                {{subtitle}}
            </v-card-subtitle>

            

            <v-card-actions>
                <router-link to="/Galery"> 
                    <v-btn color="secondary" small  outlined>INGRESAR</v-btn>
                </router-link>
                <v-spacer></v-spacer>
            </v-card-actions>

            
        </v-card>
    </section>
</template>

<script>
export default {
    name:'ClassCard',
    props:[
        'title',
        'subtitle',
        'pic',
    ],
    data() {
        return {
            show: false,
        }
    },
}
</script>

<style lang="stylus" scoped>
    @import "../../../styles/theme.styl"
    .v-card
        margin 20px 0
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select:none;

        &__title
            color: $color.grey-text
            font-weight: 800;
            font-size: 1.1em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select:none;

        &__subtilte
            line-height: 1.3;
            font-size: .8em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select:none;

</style>