<template>
    <div class="spacerSection">
        <v-img
            class="image"
            src="@/assets/img/class/fitnessBanner.jpg"
            height="100%"
            attach="true"
        ></v-img>
        <div class="text">
            <h2>CLASES <span>CÍCLICAS</span> FITNESS</h2>
            <v-btn class="mx-3  pa-5"  rounded  color="primary" dark>
                Unirme
            </v-btn>
        </div>
    </div>
</template>
<script>
export default {
    name: 'FitnessBanner',
}
</script>
<style lang="stylus" scoped>
    @import "../../../styles/theme.styl"
    .v-image__image
        background-attachment: fixed;

    .spacerSection
        height 100vh
        position relative
        z-index 0
        display flex
        justify-content center
        align-items center
        .image
            position absolute
            top 0
            left  0
            z-index 1
            width 100%
            heigt 100%

    .text
        z-index 2
        flex-direction column
        justify-content center
        align-items center
        color: $color.base;
        display flex
        
        h2
            font-weight 900
            font-size 4em
            word-spacing: -10px;
            span
                font-weight 300 !important

        button
            padding: 15px 50px !important;
            font-size: 1.5em;
            font-weight: 700;
            color: $color.base
            margin 0 !important
            display flex
            justify-content center
            align-items center
</style>