<template>
	<v-app  >
		<section class="app__container cont">
			<!-- Lateral MENU   -->
			<NavDrawer/>
			<!-- PANELES -->
			<section class=" containerPanel">
				
				<!-- Panel Router -->
				<router-view class="ContainerRuta" />
			</section>
		</section>
	</v-app>
</template>

<script>
import {mapActions} from 'vuex'
import NavDrawer from '@/views/_panel/navDrawer/NavDrawer'
export default {
		components:{
			NavDrawer
		},
		methods: {
			...mapActions(['fetchUser'])
		},
		created() {
			this.fetchUser()
		},
};
</script>

<style lang="stylus" scoped>
	@import '../styles/theme.styl'
	
	.cont
		display: flex;
		flex-direction: row !important;
		min-height: 100vh;
		
	

	.v-navigation-drawer__content
		padding: 0.5em 0;

	.containerPanel
		width: 100%;
		height: 100%;
		display: flex;
		padding: .5em;
		background: $color.base
		.panel , .dashboard
			border-radius: 7.5px;
	

		.dashboard
			background: #fff;
			flex: 0 1 25%;
			padding: 15px 7.5px;
			// border-right 2px solid red
			padding: 0 10px;
			margin-right: 5px;
	

	.nav *
		color: #736531;
		font-weight: 800;

	
</style>
