<template>
  <section>
    <NavBar/>

    <!-- Main Home-->
    <v-main>
        <Portade/>
        <InfoBanner/>
        <AcademiaSection/>
        <AboutUs/>
        <Profesionals/> 
        <SpacerSection/>
        <Productions/>
        <Clothes/>
        <ContactBanner/>
    </v-main>
    <Footer/>

    <!-- Contact ball!-->
    <ContactBall/>
  </section>
</template>

<script>
// @ is an alias to /src
import NavBar from "../components/_home/NavBar";
import ContactBall from "../components/_home/ContactBall";
import Portade from "../components/_home/Portade";
import InfoBanner from "../components/_home/InfoBanner";
import AboutUs from "../components/_home/AboutUs";
import AcademiaSection from "../components/_home/academia/AcademiaSection";
import Profesionals from "../components/_home/Profesionals";
import Clothes from "../components/_home/Clothes";
import SpacerSection from "../components/_home/components/SpacerSection";
import Productions from "../components/_home/productions/Productions";
import Footer from "../components/Footer";
import ContactBanner from "../components/_home/ContactBanner";
//VUEX
// import { mapActions } from 'vuex'
export default {
  name: 'Home',

  components: {
    ContactBanner,
    Footer,
    Profesionals,
    AcademiaSection,
    Portade,
    ContactBall,
    NavBar,
    InfoBanner,
    AboutUs,
    Clothes,
    Productions,
    SpacerSection
  },
//   methods: {
//       ...mapActions(['fetchUser'])
//   },
//   created() {
//       this.fetchUser()
//       console.log('creado')
//   },

}
</script>
<style lang="stylus">

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
	display: block;

body 
	line-height: 1;

ol, ul 
	list-style: none;

blockquote, q 
	quotes: none;

blockquote:before, blockquote:after,
q:before, q:after 
	content: '';
	content: none;

table 
	border-collapse: collapse;
	border-spacing: 0;
a
    text-decoration: none !important;
</style>