<template>
    <div>
        <selection class="studentCard">
            
        </selection>
    </div>
</template>


<script>
export default {
    
}
</script>

<style lang="stylus" scoped>
    
</style>