<template>
	<div class="galery">
		<NavBar/>
		<div class="galeryBrand">
			<span class="Title">
				<span  class="black-weight">
					UNETE
				</span>
				A LA
				<span  class="black-weight">
					ACADEMIA
				</span>
			</span>
		</div>
		<div class="galeryItems">
			<PanelAcademy/>
			<PanelFit/>
		</div>
		<Footer/>
	</div>
</template>

<script>
	import NavBar from "../../components/_home/NavBar";
	import Footer from "../../components/Footer";

	import PanelAcademy from'./PanelCatedra'
	import PanelFit from'./PanelFit'

	export default {
		components: {
			NavBar,
			PanelAcademy,
			PanelFit,
			Footer
		},
		data() {
			return {
			}
		},
	}
</script>

<style lang="stylus" scoped>
	@import "../../styles/theme.styl"
	.galery
		background-color  $color.lightBase;
		padding-top 10vh
		.galeryBrand 
			color: $color.grey-text;
			font-size 3em
			font-weight 300
			margin 2.5vh 0
			display flex
			justify-content center
			.title
				display: flex;
				flex-direction: column;
				line-height: 1.1em;
			.black-weight
				font-weight 900
	.galeryItems
		padding: 2.5vw;
		display: flex;
		justify-content: space-between;
		section.panelsContainer
			display: flex;
			justify-content: space-between;

</style>
