<template>

        <v-card
            class="  card"
            >
            <v-img
                :src="require('@/assets/img/class/' + this.pic)"
                height="180px"
            ></v-img>

            <v-card-title>
                {{title}}
            </v-card-title>

            <!-- <v-card-subtitle>
                {{subtitle}}
            </v-card-subtitle> -->

            

            <!-- <v-card-actions>
                <v-btn small color="secondary" outlined>Suscribir al plan</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions> -->
            
        </v-card>

</template>

<script>
export default {
    name:'ClassCard',
    props:[
        'title',
        'subtitle',
        'pic',
    ],
    data() {
        return {
            show: false,
        }
    },
}
</script>

<style lang="stylus" scoped>
    @import "../../styles/theme.styl"
    .v-card
        display: flex;
        flex-wrap: wrap;
        max-width 40%
        margin 20px
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select:none;

        &__title
            color: $color.grey-text
            font-weight: 600;
            font-size: 1em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select:none;

        &__actions 
            align-self: flex-end;
        &__subtilte
            line-height: 1.3;
            font-size: .8em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select:none;

</style>