<template>
	<div class="panelGalery elevation-6">
		<div class="title">
			<h3>Catedras</h3>
		</div>
		<div class="galeryItems">
			<Card
				v-for="(item, index) in classData" :key="index"
				:title='item.title'
				:subtitle="item.subtitle"
				:pic="item.pic"
			/>
		</div>
		<div class="cta">
			
			<div class="mx-auto my-5">
				<v-dialog class="formModal" v-model="dialog" persistent :max-width="width" >
					<template v-slot:activator="{ on, attrs }">
						<v-btn
							tile x-large
							color="secondary"
							dark
							v-bind="attrs" v-on="on"
						>
							<v-icon left>
								mdi-pencil
							</v-icon>
							SUSCRIBIRSE
						</v-btn>
					</template>
					<Subscribe
						v-on:closeDialog='close()'
					/>

				</v-dialog>
			</div>
		</div>
	</div>
</template>

<script>
import Card from './GaleryCard'
import Subscribe from './_suscribeForms/SubscribeCatedra'
export default {
	name: 'PanelCatedras',
	components:{
		Card,
		Subscribe
	},
	data() {
		return {
			dialog: false,

			classData:[
				{
					title:'Gimmnasia' ,
					subtitle:'Práctica de ejercicio f ísico que sirve para desarrollar, fortalecer y dar flexibilidad al cuerpo..', 
					pic:'Gimnasia.jpg'
				},
				{
					title:'Canto' ,
					subtitle:'Dominar la técnica vocal y proporcionarle al estudiante una visión amplia de los diferentes estilos musicales...', 
					pic:'Canto.jpg'
				},
				{
					title:'COMMERCIAL DANCE' ,
					subtitle:'Tendencia que busca involucrar cualquier estilo de baile con la era en la que vivimos actualmente...', 
					pic:'Commercialdance.jpg'
				},
				{
					title:'Danza' ,
					subtitle:'Elementos técnicos de la danza clásica y moderna, desarrollando el ritmo, dominio corporal, creatividad y concentración del niño...', 
					pic:'Danza.jpg'
				},
				{
					title:'Lírico' ,
					subtitle:'Fusión de la danza contemporánea, el jazz y elementos de la gimnasia y el ballet.', 
					pic:'Lirico.jpg'
				},
				{
					title:'Teatro' ,
					subtitle:'Desarrollar y potenciar las habilidades y destrezas corporales, gestuales y vocales...', 
					pic:'Teatro.jpg'
				}
				
				
			],
	
		}
	},
	methods:{
		close(){
			this.dialog = false
		}
	},
	computed:{
		// eslint-disable-next-line vue/return-in-computed-property
		width () {
			switch (this.$vuetify.breakpoint.name) {
				case 'xs': return 300
				case 'sm': return 400
				case 'md': return 500
				case 'lg': return 600
				case 'xl': return 800
			}
		}
	}

}
</script>

<style lang="stylus" scoped>

	.v-dialog
		width: 600px;

</style>