<template>
	<div class="panelGalery elevation-6">
		<div class="title">
			<h3>Fitness</h3>
		</div>
		<div class="galeryItems">
			<Card
				v-for="(item, index) in fitnessData" :key="index"
				:title='item.title'
				:subtitle="item.subtitle"
				:pic="item.pic"
			/>
		</div>
		<div class="cta">
			<div class="mx-auto my-5">
					<v-btn
						tile
						x-large
						color="secondary"
						dark
					>
					<v-icon left>
						mdi-pencil
					</v-icon>
						SUSCRIBIRSE
					</v-btn>
			</div>
		</div>
	</div>
</template>

<script>
import Card from './GaleryCard'
export default {
	components:{
		Card
	},
	data() {
		return {
			fitnessData:[
					{
						title:'Zumba®' ,
						subtitle:'tonifican y moldean el cuerpo utilizando un enfoque de aeróbic y acondicionamiento físico', 
						pic:'zumba.jpg'
					},
					{
						title:'STRONG' ,
						subtitle:'acondicionamiento físico que combina como ningún otro elementos de peso corporal, estilo de resistencia, acondicionamiento muscular,', 
						pic:'strong.jpg'
					},
					{
						title:'LATIN CARIBBEAN' ,
						subtitle:'programa de entrenamiento con fundamento aeróbico, el cual está basado en la enseñanza de los movimientos típicos de las diferentes danzas afro-latinas', 
						pic:'latinCaribean.jpg'
					},
					{
						title:'FIT COMBAT' ,
						subtitle:'sistema de entrenamiento de fitness de combate que engloba técnicas de artes marciales y boxeo', 
						pic:'fitcombat.jpg'
					},
					{
						title:'ZUMBA KIDS',
						subtitle:'combinan movimientos, música y comunidad en una clase para niños. Estas dos clases son fiestas llenas de movimiento.', 
						pic:'zumbaKids.jpg'
					}
				],
		}
	},

}
</script>

<style lang="stylus" >
	@import "../../styles/theme.styl"
	.panelGalery
		background #ffffff
		border-radius: 15px;
		padding 5px
		width: 45%;
		border: 2px outset $color.primary;
		.title
			color: $color.grey-text
			display flex
			justify-content center
			margin 15px
			font-size: 2em !important;
			font-weight: 700;


		.galeryItems 
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		.cta
			display flex
			justify-content center
		
</style>