<template>
    <div>
        <section class="footer">
            <div class="footer_title">

                <div class="brand">
                    <img src="@/assets/img/dancefit-logo.svg" alt="">
                </div>
              z
            </div>
            <div class="footer_links">
                <ul class="linkBlock">
                    <li class="title">Nosotros</li>
                    <li>Nosotros</li>
                    <li>Equipo</li>
                    <li>Como ordenar</li>
                    <li>Politica de privacidad</li>
                    <li>Termino de uso</li>
                    <li>FAQ</li>
                </ul>
                <ul class="linkBlock">
                    <li class="title">Nosotros</li>
                    <li>Nosotros</li>
                    <li>Equipo</li>
                    <li>Como ordenar</li>
                    <li>Politica de privacidad</li>
                    <li>Termino de uso</li>
                    <li>FAQ</li>
                </ul>
                <ul class="linkBlock">
                    <li class="title">Nosotros</li>
                    <li>Nosotros</li>
                    <li>Equipo</li>
                    <li>Como ordenar</li>
                    <li>Politica de privacidad</li>
                    <li>Termino de uso</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </section>

        <v-card-text class="black--text">
            {{ new Date().getFullYear() }} — <strong>DanceFit</strong>
        </v-card-text>
    </div>
</template>

<script>
    export default {
        name: "Footer",
    }
</script>
<style lang="stylus" scoped>
    @import'../styles/theme.styl'
    .footer
        min-height: 50vh;
        background-color $color.base
        display grid
        grid-template-columns: 0.33fr 1fr;
        grid-auto-rows 1fr
        grid-gap 15px
        padding: $marginPage;

        .footer_title
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content space-evenly
            .brand
                width: 40%;
            .brandPri
                width: 30%;
                display flex
                flex-direction column
                justify-content center
                align-items: center;
                img
                    width: 50%;
                span
                    margin: 5px 0

        .footer_links
            display grid
            grid-template-columns 1fr 1fr 1fr
            justify-content center
            align-items center
            .title
                font-size: 1.25em
                font-weight 600
                margin-bottom 15px
            ul
                margin: 0 25px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                li
                    text-decoration none
                    list-style: none
                    font-size: 1.1e
                    margin  5px 0
                    cursor pointer
                    transition all .15s ease-out
                    border-bottom transparent solid 1px
                    color: #0c0c0c
                    &:hover
                        border-bottom $color.secondary solid 1px



.v-card__text.black--text 
    display: flex;
    justify-content: center;
    background: $color.base;

</style>