<template>
    <v-card
            max-width="344"
            class="mx-auto"
        >
            <v-tooltip 
                v-model="tooltip"
                open-on-hover
                right
            >
            <template   v-slot:activator="{ on, attrs }">
                <v-img
                    :src="require('@/assets/img/productions/'+ flyer)"
                    height="60vh"
                    @click.stop="dialog = true"
                    @mouseover='tooltip=true'
                    @mouseleave="tooltip = false"
                    v-bind="attrs"
                ></v-img>
            </template>
            <span>Nombre</span>
        </v-tooltip>
            
            
            <v-dialog
                v-model="dialog"
                :max-width="zoomOn"
                md-max-width='290'
                :class="{'zoonOut' : dialogZoom}"
                
                >
                <v-card>
                    <v-img
                        :src="require('@/assets/img/productions/'+ this.flyer)"
                        height="auto"
                        @click.stop=" dialogZoom= !dialogZoom "
                    ></v-img>
                    <v-btn 
                        class="close"
                        @click.stop="dialog = false"
                            >X
                    </v-btn>
                </v-card>
            </v-dialog>

        </v-card>
</template>

<script>
export default {
    props:[
        'flyer'
    ],
    data() {
         return {
             tooltip:false,
             dialog:false,
             dialogZoom:false
         }
     },
     computed: {
         zoomOn(){
            return this.dialogZoom ? 460 : 360
         }
     },
}
</script>

<style lang="stylus" scoped>
    @import "../../../styles/theme.styl"

    .v-dialog
        cursor: zoom-in
        position relative
        overflow visible !important
        overflow-y: visible !important
     .close
        position absolute
        top -5px
        right -5px
        right 0
        opacity 1
        border-radius: 50%;
        padding: 0 !important;
        width: 37px !important;
        height: 37px;
        min-width: auto !important;
        color: $color.primary !important
        background-color:  $color.base !important
        font-weight 900

        &:hover
            opacity 1
    .zoonOut
        cursor: zoom-out !important
    
</style>