<template>
    <section class="galery">
        <Pic
            v-for="(item, index) in galeryPics" :key="index"
            :flyer='item.flyer'
        />
    </section>
</template>

<script>
import Pic from './Pic'
export default {
    components:{
        Pic
    },
    data() {
        return {
            galeryPics:[
                {flyer:'aladin.jpg'},
                {flyer:'aniversario.jpg'},
                {flyer:'descendientes.jpg'},
                {flyer:'dreams.jpg'},
                {flyer:'retro.jpg'},
                {flyer:'the-show.jpg'},
            ]
        }
    },
}
</script>

<style lang="stylus" scoped>
    @import "../../../styles/theme.styl"
    
    .galery
        margin: $marginPage
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        align-items: flex-start
        grid-gap  20px 

</style>