<template>
    <div>
        <section class="productions">
            <div class="productions__title">
                <h3>
                    PRODUCCIONES Y <span>EVENTOS</span>
                </h3>
            </div>

            <section class="container">
                <!-- <v-tabs
                    class="tabContainer"
                    v-model="tab"
                    background-color="transparent"
                    color="secondary"
                    grow
                    >
                    <v-tab
                        v-for="(item, index) in tabs"
                        :key="index"
                        class="tab"
                    >
                        {{ item.name }}
                    </v-tab>
                </v-tabs> -->
            </section>

            <PicGalery/>
        </section>
    </div>
</template>

<script>
import PicGalery from './PicGalery'
export default {
    components:{
        PicGalery
    },

    data() {
        return {
            tab: null,
            tabs:[
                {
                    name: 'ACADEMICOS',
                    galeryPics:[
                        {flyer:'aladin.jpg'},
                        {flyer:'aniversario.jpg'},
                        {flyer:'descendientes.jpg'},
                        {flyer:'dreams.jpg'},
                        {flyer:'retro.jpg'},
                        {flyer:'the-show.jpg'},
                    ]
                },
                {
                    name: 'CORPORATIVOS',
                    galeryPics:[
                        {flyer:'aladin.jpg'},
                        {flyer:'aniversario.jpg'},
                        {flyer:'descendientes.jpg'},
                        {flyer:'dreams.jpg'},
                        {flyer:'retro.jpg'},
                        {flyer:'the-show.jpg'},
                    ]
                },
                {
                    name: 'FITNESS',
                    galeryPics:[
                        {flyer:'aladin.jpg'},
                        {flyer:'aniversario.jpg'},
                        {flyer:'descendientes.jpg'},
                        {flyer:'dreams.jpg'},
                        {flyer:'retro.jpg'},
                        {flyer:'the-show.jpg'},
                    ]
                },
                {
                    name: 'SOCIALES',
                    galeryPics:[
                        {flyer:'aladin.jpg'},
                        {flyer:'aniversario.jpg'},
                        {flyer:'descendientes.jpg'},
                        {flyer:'dreams.jpg'},
                        {flyer:'retro.jpg'},
                        {flyer:'the-show.jpg'},
                    ]
                }
            ]
        }
    },
}
</script>

<style lang="stylus" scope>
        @import "../../../styles/theme.styl"
    .container
        margin 25px auto
    .tab
        color white !important
    
    .productions
        min-height 100vh
        display flex
        flex-direction column
        background-color: $color.primary
        padding: 0 0 10vh 0;
        &__title
            display: flex;
            justify-content: center;
            padding: 50px;
            font-size: 2em;
            color: $color.base;
            h3
                font-weight 500
                font-style italic
                span
                    font-style normal
                    font-weight 900

</style>