<template>
	<div>
		<v-container>
			<v-row dense>
				<v-col v-for="users in 2" :key="users" cols="6">
					<v-card class="userCard" color="#385F73" dark>
						<v-card-title class=" ">
							Unlimited music
						</v-card-title>

						<!-- <v-card-subtitle>
							Listen to
						</v-card-subtitle> -->

						<v-card-actions>
							<v-btn text>
								Listen Now
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script>
export default {
	
}
</script>
<style lang="stylus" scoped>
	.userCard
		v-card__title
			font-size 1em !important
			line-height 1.1 !important
</style>