<template>
	<div>
		<div class="titleSection">
			<h4>Usuarios inscritos</h4>
		</div>
		<v-container class="containerSuscribers" grid-list-sm>
			<section class="suscribers elevation-4">
				<span>Catedras</span>
				<div class="list">
					<ListSuscribers/>
				</div>
			</section>

			<section class="suscribers  elevation-4">
				<span>Fitness</span>
					<ListSuscribers/>
			</section>
		</v-container>
	</div>
</template>


<script>
import ListSuscribers from'./ListSuscribers'
export default {
	components:{
		ListSuscribers
	},
}
</script>

<style lang="stylus" scoped>
	@import '../../../styles/theme.styl'
	.titleSection
		display: flex;
		justify-content: center;
		font-size: 1.5em;
		font-weight: 700;
	.containerSuscribers
		display: flex;
		flex-direction: column;
		margin 10px 0 !important
		section.suscribers
			min-height: 35vh;
			margin: 10px 0;
			border-radius: 15px;
			padding: 1em;
			border: 2px outset $color.primary;
			background: #fff;
	.titleSection
		color $color.grey-text
</style>