<template>
	<v-menu
	transition="scale-transition"
	offset-y 
	>
	<v-overlay value="true">
		<v-progress-circular indeterminate size="64"></v-progress-circular>
	</v-overlay>
	<template v-slot:activator="{ on, attrs }">
		<v-btn
			dark
			icon
			v-bind="attrs"
			v-on="on"
		>
			<v-icon color="dark">mdi-dots-vertical</v-icon>
		</v-btn>
	</template>

	<v-list outlined>
		<v-list-item
		v-for="(item, index) in items"
		:key="index"
		@click="item.callback(idUser)" class="item-menu"
		>
	
			<v-list-item-title>{{ item.title }}</v-list-item-title>
			<v-list-item-icon>
				<v-icon v-text="item.icon"></v-icon>
			</v-list-item-icon>
		</v-list-item>
	</v-list>
</v-menu> 
</template>

<script>
import Axios from 'axios'
export default {
	props:[
		'userId'
	],
	data() {
		return {
			isloadingSpiner: false,
			items:[
					{
						title: 'Eliminar' ,
						callback: (id) => this.deleteUser(id),
						icon: 'mdi-trash-can'
					},
				]
		}
	},
	computed:{
		idUser(){
			return this.userId
		}
	},

	methods:{
		deleteUser(id){
			console.log('deleting...')
			this.isloadingSpiner = true
			Axios.delete('/users', {params: {id: id  }})
			.then(response => {
				console.log(response)
				this.isloadingSpiner = false
				this.getUsers()
			}).catch(e => {
				console.log(e)
				this.isloadingSpiner = false
			})
			},
	}
}
</script>

<style lang="scss" scoped>
	
</style>