<template>
  
        <div  class="eventCard">
            <v-img
                class="image"
                :src="require('@/assets/img/Clothes/' + this.pic)"
            ></v-img>
                <article>
                    <h2>
                        {{name}}
                    </h2>
                    <div class="content">

                        <!-- <span>
                            Lorem ipsum dolor sit
                            amet, consectetuer
                            adipiscing elit, sed diam
                            nonummy nibh euismod
                        </span> -->
                        <div class="action">
                            <v-btn tile color="secondary">
                                Ver detalles
                            </v-btn>
                        </div>
                    </div>

                </article>
            </div>

</template>

<script>
export default {
    props:[
        'name',
        'pic'
    ]
}
</script>

<style lang="stylus" scope >
    @import '../../../styles/theme.styl'

    .eventCard
        display: flex
        justify-content: flex-end
        background-size: cover
        height: 55vh;
        flex: 0 0 33%;
        position relative
        margin 15px
        .image
            height 100%
            top 0
            position absolute
            left 0
            z-index 1
        article
            flex: 0 0 45%;
            background: #000000cc;
            color: $color.base
            padding 25px
            position relative
            z-index 2
            h2
                font-size 2.5em
                font-weight 700
                line-height 1.2
                position relative
                z-index 3

            .content
                margin 1.5em 0
                z-index 3
                position relative

                .action
                    margin: 10px 0;
                    button
                        width: 100%;
                        font-weight: 700;

</style>