<template>
    <div class="spacerSection">
        <v-img
        class="image"
            src="@/assets/img/Clothes/1.jpg"
            height="100%"
            attach="true"
        ></v-img>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="stylus" scoped>
    .spacerSection
        height 100vh
    .image *
        background-attachment: fixed;
</style>