<template>
  <v-app>
    <router-view/>
  </v-app>
</template>

<script>
    import {mapActions} from 'vuex'
    export default {
      name: 'DancefitApp',
        data() {
            return {
                
            }
        },
        methods: {
            ...mapActions(['fetchUser'])
        },
        created() {
            this.fetchUser()
        },
    };
</script>

<style lang="stylus" >
    @import "./styles/theme.styl"
    @import "./styles/fontDeclaration.styl"

</style>
